.item-container {
  display: flex;
  justify-content: space-between;
}

/* .gear-item {
  margin: 0px 50px 0px 0px;
} */

.check-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  background-color: white;
  border: black solid 1px;
}

.checked {
  height: 10px;
  width: 10px;
  background-color: black;
}
